
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PatientPortal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="navbar-color" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" style="color:lightgoldenrodyellow;">AllergySite</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index" style="color:lightgoldenrodyellow;">Home</a></li>
                    <li><a href="/Home/About" style="color:lightgoldenrodyellow;">About</a></li>
                    <li><a href="/Home/Physicians" style="color:lightgoldenrodyellow;">Physicians</a></li>
                    <li><a href="/Conditions/Index" style="color:lightgoldenrodyellow;">Conditions We Treat</a></li>
                    <li><a href="/Home/Offices" style="color:lightgoldenrodyellow;">Offices</a></li>
                    @*<li><a asp-area="" asp-controller="Home" asp-action="PollenMap" style="color:white;">Pollen Map</a></li>*@
                    <li><a href="/Home/Contact" style="color:lightgoldenrodyellow;">Contact</a></li>
                </ul>
                <span style="float:right; margin-top: 15px; color:lightgoldenrodyellow;">guest@test.com</span>   
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="card card-2 card-menu">
                @*------Patient Information-------*@
                <h4>
                    <a href="/PatientPortal/Index">
                        Patient Portal
                    </a>
                </h4>
            </div>
            <div class="card card-2 card-menu">
                @*-------Updatde Information--------*@
                <h4>
                    <a href="/PatientPortal/UpdateInformation">
                        Update Information
                    </a>
                </h4>
            </div>
            <div class="card card-2 card-menu">
                @*---------My Documents-------*@
                <h4>
                    <a href="/PatientPortal/MyDocuments">
                        My Documents
                    </a>
                </h4>
            </div>
            <div class="card card-2 card-menu">
                @*-----------My Appointments--------*@
                <h4>
                    <a href="/PatientPortal/ViewAppointments">
                        My Appointments
                    </a>
                </h4>
            </div>
            @*----dummy div for under menu----*@
            @*<div class="dummybgdiv"></div>*@
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - AllergySite</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
